In [6]:
import geopandas as gp
import pandas as pd

In [7]:
ls

Closures-Database-for-Web.xlsx  state_edited/
choropleth.ipynb                state_originals/
country_wrangle.ipynb           total_counties_df.csv

In [13]:
#input data gets defined here
hey = pd.read_csv('total_counties_df.csv')
heyhey = hey[['FIPS','val']]

         FIPS        val
0       27001  74.708551
1       27001  74.983337
2       27001  75.221320
3       27001  75.431234
4       27001  75.576746
...       ...        ...
108670  30111  78.798074
108671  30111  78.812881
108672  30111  78.854331
108673  30111  78.770020
108674  30111  78.937286

[108675 rows x 2 columns]

In [3]:
fig = gp.
fig.layout.template = None
fig.show()

NameError: name 'ff' is not defined