In [1]:
from osgeo import gdal, ogr, osr

from fiona.ogrext import Iterator, ItemsIterator, KeysIterator

from geopandas import GeoDataFrame

import plotly.figure_factory as ff

import pandas as pd

In [2]:
import plotly.io as pio
pio.renderers.default = 'notebook'

In [3]:
#input data gets defined here
path = ('Closures-Database-for-Web_reduced.csv') #your file organization

In [4]:
dfClosures = pd.read_csv(path)

dfClosures.head()

     Zip  Closure Year
0  30428          2014
1  40311          2014
2   1247          2014
3  64776          2014
4  68781          2014

In [5]:
conversion_path = 'ZIP-COUNTY-FIPS_2014-03.csv'

In [7]:
dfConv = pd.read_csv(conversion_path)
dfConv.head()

     ZIP      COUNTYNAME STATE  STCOUNTYFP CLASSFP
0  36006  Autauga County    AL        1001      H1
1  36003  Autauga County    AL        1001      H1
2  36067  Autauga County    AL        1001      H1
3  36066  Autauga County    AL        1001      H1
4  36703  Autauga County    AL        1001      H1

In [8]:
dfConv.dtypes

ZIP            int64
COUNTYNAME    object
STATE         object
STCOUNTYFP     int64
CLASSFP       object
dtype: object

In [ ]:
fig = ff.create_choropleth(fips=fips, values=values)
fig.layout.template = None
fig.show()